<h1> Activity Sign Up </h1>

<%= form_for @camper do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br/>
    <%= f.label :age %> 
    <%= f.text_field :age %> <br/>
    <%= f.submit "Ready!" %>

<% end %>


