<h1> Activity Sign Up </h1>

<%= form_for @activity do |f| %>
    <%= f.label :camper %>
    <%= f.text_field :camper %> <br/>
    <%= f.label :activity %> 
    <%= f.text_field :activity %> <br/>
    <%= f.label :difficulty %> 
    <%= f.text_field :difficulty %> <br/>
    <%= f.submit "Let's Sign Up!" %>

<% end %>


